@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Lexend+Deca&display=swap');

:root {
    --primary-font: 'Inter', sans-serif;
    --secondaty-font: 'Lexend Deca', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 15px;
}
.main_container {
    display: flex;
    flex-direction: row;

}

.article-container {
    display: flex;
    flex-direction: column;
}
.results_container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}






























/* FOOTER */
.attribution { 
    font-size: 11px; 
    text-align: center;
    font-size: 11px;
    text-align: center; 
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    margin-bottom: 25px;
}

.attribution a { 
    color: hsl(228, 45%, 44%);
}
